---
layout: bootcamp
root: .
venue: African Institute for Mathematical Sciences
address: Accra - Cape Coast Rd, Biriwa, Central, Biriwa
country: Ghana
humandate: Feb 18-20, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-18
enddate: 2014-02-20
latlng: 5.161988,-1.165945
registration: open
instructor: ["Stefano Cozzini", "Kwasi Kwakwa"]
contact: admin@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>
